body {
    background-color: #222222;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    padding: 0;
    text-align: center;
}

nav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1.8px;
  }

  a.dropdown-item:hover {
    background-color: #31313173;
  }

  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

/* Added with JS */
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
 

#artistas-text {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-align: center;
}

.topArtists{
    display: grid;
}

.ton{
    border-radius: 50%;
    height: 100px;
}

.chain{
    border-radius: 50%;
    height: 100px;
}

.quee{
    border-radius: 50%;
    height: 100px;
}

.theartists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.cuadrardito {
    padding: 5px;
}

.main-detail-containter {
    background-color: #444444;
    border-radius: 10px;
}

.detail-title {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.some-songs {
    text-align: left;
    margin: 15px 8px;
    
}

.albums {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 20px;
}
.some-albums {
  padding: 5px;
}

.some-albums p {
  margin: 0 auto;
  font-size: 11px;
}

.a-song {
    background-color: #52525241;
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.116);
    margin: 10px;
    display: grid;
    grid-template-columns: 0.8fr 2.5fr 0.8fr;
    align-items: center;
}

.a-song img {
    margin: 5px;
    padding: 2px;
    border-radius: 4px;
}

.song-text {
    margin-left: 13px;
    padding: 0;
}

.item-1 {
  margin: 10px;
  padding: 0;
}

.song-text p {
    font-size: 13px;
    margin: 0 auto;
}

.detail-tt-text {
    font-size: 25px;
}

.detail-image {
    padding: 10px;
}

.artist-information {
    margin: 0 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 12px;
    margin-bottom: 20px;
}

.socialmedia-detail {
  margin: 20px;
  padding: 10px 60px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.socialmedia-detail a {
  color: white;
}

.socialmedia-detail a:hover {
  color: rgb(214, 214, 214);
}

footer p {
  margin: 0 10px;
  font-size: 13px;
  text-align: right;
}

.song{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    padding: 10px;
    background-color: #444444;
    border-radius: 10px;
    justify-content: space-around;
    align-content: center;
}

.image-playlist{
   padding: 5px;
   width: 65%;
   height: 82px;
   align-content: left;
   
}
.textos-playlist{
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-size: 10px;
    line-height: 90%;
    justify-content: right;
    line-height: inherit;
    text-align: right;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    width: 190px;
    align-content: center;
    padding: 10px;
    border: rgba(0, 0, 0, 0.25);
    height: 50px;
    width: 90%;
    text-decoration: none;
    color: #fff;
}
.armatuplaylist{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-align: center;
}

.sub-menu ul li{
    display: none;
    position: absolute;
    border-radius: 0px 0px 4px 4px;

}

.sub-menu ul li:hover ul{
    display: block;
    

}